html {
    overflow-y: scroll;
    max-width: 100%;
    overflow-x: hidden;
    height: -webkit-fill-available;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.photo{
  width: 25%;
  clip-path: circle();
}

.fixed{
  color: #b8c1ec;
}

.custom-jumbo1{
 color: #fffffe;
 background: #232946;
 background-repeat: no-repeat;
}

.nav {
  background-color: #5cdb95;
}

.nav-link, .nav-item{
  padding: 1em 3em;
}

.custom-jumbo2{
 color: #232946;
 background: #d4d8f0;
 background-repeat: no-repeat;
}

.custom-jumbo3{
 color: #05386B;
 background: #5cdb95;
 background-repeat: no-repeat;
}

.experience, .wrapper{
  border: 0px;
  box-shadow: rgba(35, 41, 70, 0.25), 0 18px 36px -18px rgba(35, 41, 70, 0.3), 0 -12px 36px -8px rgba(35, 41, 70, 0.025);
  border-radius: 8px;
  color: #172c66;
  background-color: #fffffe;
}

.headline {
  color: #f25f4c;
}

.list-group-item:first-child {
    border-radius: 8px;
}

.list-group-item:last-child {
    border-radius: 8px;
}


.container p {
  letter-spacing: 0.1rem;
  overflow: hidden;
}

.container p span.typed-text {
  font-weight: bold;
  color: #5CDB95;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

.blue-colored {
  color: #05386B;
  font-weight: 500;
}

.white-colored {
  color: #EDF5E1;
}


.custom{
  background: #fff url("../icon/google-scholar.svg") no-repeat;
  background-size: contain;
}

.icons{
  width: 50%;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: #fffffe;
}

.navbar{
  color: #eebbc3;
  background: #b8c1ec;
  position: sticky;
}

.fa:hover {
    opacity: 0.7;
}

.container-full{
  width: 80%;
  height: auto;
  border-radius: 21px 21px 0 0;
}

.timeline {
  width: 70%;
  height: auto;
  position: relative;
  background: #5cdb95;
}

.dx, .sx{
  box-shadow: rgba(35, 41, 70, 0.25), 0 18px 36px -18px rgba(35, 41, 70, 0.3), 0 -12px 36px -8px rgba(35, 41, 70, 0.025);
  border-radius: 8px;
  color: #172c66;
  background: #fffffe;
  width: 50%;
  height: auto;
  padding: 15px 20px;
}

.dx{
  float: right;
  clear: left;
}

.sx{
  float: left;
  clear: right;
}
