.photo{
  width: 25%;
  clip-path: circle();
}

.custom-jumbo{
 background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)), url("../images/bread_cropped.jpg") no-repeat;
  background-repeat: no-repeat;
}

.custom{
  background: #fff url("../icon/google-scholar.svg") no-repeat;
  background-size: contain;
}

.icons{
  width: 50%;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: black;
}

.fa:hover {
    opacity: 0.7;
}

.container-full{
  width: 80%;
  height: auto;
  border-radius: 21px 21px 0 0;
}
